include head

div(class='wrap')
div(class='content')
    header(class='site-header')
        include header_order

    div(class="container-fluid text-center px-3")
        h3.py-3 Управление
        div(class="d-grid gap-2 mb-5")
            a(href="/admin" class="btn btn-primary site-btn mx-1") Ваши данные
            a(href="/admin/orders" class="btn btn-primary site-btn mx-1 active-link") Заказы
            a(href="/admin/goods" class="btn btn-primary site-btn mx-1") Товары
        table.table
            tr
                th №
                th Дата
                th Заказчик
                th Адрес
                th Позиции
                th Количество позиций
                th Итого
                each val, index in orders
                    tr
                        td #{index + 1}
                        td #{val[0].date}
                        td
                            ul.list-unstyled
                                li #{val[0].login}
                                li #{val[0].first_name} #{val[0].last_name}
                                li #{val[0].phone}
                        td #{val[0].address}
                        td
                            ul.list-unstyled
                                each val1 in val
                                    li #{val1.name}
                        td
                            ul.list-unstyled
                                each val1 in val
                                    li #{val1.goods_amount}
                        td
                            ul.list-unstyled
                                each val1 in val
                                    li #{val1.total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ')} ₽
                            -
                                let total = 0;
                                val.forEach(function (item) {
                                    total += item.total;
                                })
                            span Всего: #{total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ')} ₽
    include footer

