div(class='col col-md-4 mb-4')
    div(class='card mb-4 shadow-sm text-center h-100')
        div.card-body
            a(href=`goods?id=${val['id']}`)
                div.card-body
                    h5(class='my-0 font-weight-normal py-2') #{val['name']}
                    img(
                        src='images/' + val['image']
                        class='card-image'
                    )
                    p(class='text-center') #{val.cost.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ')} ₽
            button(
                data-goods_id = val['id']
                class='btn btn-success add-to-cart site-btn'
            ) Купить