include header
    include site_header_order

div(class='container py-3')
    div(class='row g-3')
        div(class='col-md-5 col-lg-4 order-md-last order-no-auth')
            h3(class="cart-header py-3 text-center") Корзина
            div(id='cart-nav')
        div(class='col-md-7 col-lg-8')
            h3(class="py-3 text-center") Сделать заказ
            form#lite-shop-order(action="" class='needs-validation')
                div(class='col-12 mb-3')
                    label(for='firstName' class="form-label") Имя
                    input(
                        type='text',
                        id='firstName',
                        placeholder='Введите имя',
                        class='form-control'
                        name="firstName"
                    )
                div(class='col-12 mb-3')
                    label(for='lastName' class="form-label") Фамилия
                    input(
                        type='text',
                        id='lastName',
                        placeholder='Введите фамилию',
                        class='form-control'
                        name="lastName"
                    )
                div(class='col-12 mb-3')
                    label(for='phone' class="form-label") Телефон
                    input(
                        type='text',
                        id='phone',
                        placeholder='Введите телефон',
                        class='form-control'
                        name="phone"
                    )
                div(class='col-12 mb-3')
                    label(for='email' class="form-label") Email
                    input(
                        type='text',
                        id='email',
                        placeholder='Введите email',
                        class='form-control'
                        name="email"
                    )
                div(class='col-12 mb-3')
                    label(for='address' class="form-label") Адрес
                    input(
                        type='text',
                        id='address',
                        placeholder='Введите адрес',
                        class='form-control'
                        name="address"
                    )
                div(class='col-12 my-3 text-center')
                    label(for='rule' class="form-label")
                        input(
                            type='checkbox',
                            id='rule',
                            value='1'
                            class='form-check-input'
                        )
                        span  Даю согласие на обработку персональных данных
                div(class='col-12 text-center')
                    button(class='btn btn-primary site-btn', type='submit') Завершить заказ

    include footer.pug
    script(src='js/order.js')