section(class='pt-3 pb-5 text-center container slider d-none d-sm-block')
    div.slider-images
        img(
            src='https://static.mvideo.ru/media/Promotions/Promo_Page/2021/June/rasprodaja-skidki-do-50/hero_L_2432x720.png'
            class="img-fluid cart-img active"
            alt="Responsive image"
        )
        img(
            src='https://static.mvideo.ru/media/Promotions/Promo_Page/2021/May/championskiy-keshbick-do-50/hero_L_2432x720.png'
            class="img-fluid cart-img"
            alt="Responsive image"
        )
        img(
            src='https://static.mvideo.ru/media/Promotions/Promo_Page/2021/June/skidki-do-50-na-bitovyu-tehniky/hero_L_2432x720.png'
            class="img-fluid cart-img"
            alt="Responsive image"
        )